@import "tachyons";

.App {
  margin-top: 20px;
}

input {
  box-sizing: content-box !important;
}

.input-textfield {
  margin-bottom: 20px !important;
}

body {
  background-color: whitesmoke;
}

.item-btns {
  margin-left: 20px !important;
}